<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!--Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/projectstore/css/bootstrap.min.css') }}">
    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/projectstore/css/signin.css') }}" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <script src="{{ asset('bundles/projectstore/js/ie-emulation-modes-warning.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
